.menu{
    margin: auto 0;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: 25px;
}
.navbar {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.navbar__item {
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.navbar__item--icon{
    height: 30px;
    width: 30px;
}
.navbar__item--button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 24px;
}
.menu__copytight{
    display: flex;
    width: 80%;
    margin: 0 auto;
    line-height: 40px;
    align-items: center;
    font-family: 'Roboto';
    font-size: 14px;
}