.chat{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.chat__header{
    margin: 10px 0 10px auto;
    width: calc(100% - 30px);
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.chat__header p{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
}
.chat__content{
    width: calc(100% - 10px);
    margin: 0 0 0 auto;
    border-radius: 10px;
    height: calc(100% - 140px);
}
.chat__footer{
    width: calc(100% - 10px);
    border-radius: 10px;
    margin: 10px 0 10px auto;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.chat__footer--input{
    width: calc(100% - 160px);
    height: 30px;
    outline: none;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
}
.chat__footer--choose{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    border: none;
    cursor: pointer;
}
.chat__footer--smile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.chat__footer--send{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    border: none;
    cursor: pointer;
}