.header{
    height: 50px;
    width: 100%;
    display: flex;
}
.header__content{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__content--logo{
    height: 30px;
    width: 30px;
    background: url("../../img/logo.svg");
    cursor: pointer
}
.header__content--text{
    font-family: 'Roboto';
    font-size: 18px;
}