.navbar {
    width: 80%;
    height: calc(100% - 400px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
}

.navbar__item {
    border-radius: 25px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}
.navbar__item--icon{
    height: 40px;
    width: 40px;
}
.disable{
    display: none;
}
